*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-light: rgba(165, 175, 194, 0.682);
  --primary: rgba(72, 133, 191, 0.669);
  --primary2: rgba(85, 150, 211, 0.669);
  --primary-dark: rgba(38, 60, 99, 0.682);
  --success: rgba(87, 171, 87, 0.693);
  --error: rgba(169, 38, 38, 0.869);
}

body {
  margin: 0;
}

.full-screen-container {
  background-image: url("./mountain.jpeg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  --color: rgba(38, 60, 99, 0.682);
  box-shadow: 0 0 15px var(--color);
  background-color: var(--color);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.login-title {
  margin: 0;
  color: aliceblue;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-group label {
  color: aliceblue;
  font-weight: lighter;
}

.input-group input {
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: var(--primary-light);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-weight: lighter;
}

.input-group.success input {
  box-shadow: 0 0 0 1.5px var(--success);
}

.input-group.error input {
  box-shadow: 0 0 0 1.5px var(--error);
}

.input-group input:focus {
  box-shadow: 0 0 0 1.5px var(--primary);
}

.input-group .msg {
  display: none;
  font-size: 0.75rem;
}

.input-group.error .msg,
.input-group.success .msg {
  display: block;
}

.input-group.error .msg {
  color: var(--error);
}

.input-group.success .msg {
  color: var(--success);
}

.login-button {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: aliceblue;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

.login-button:hover,
.login-button:focus {
  background-color: var(--primary2);
}
